*{ 
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* background-color: #667268; */
  font-family: 'FedraSansStd-A-medium','sans-serif';
  
}

.section-container{
  padding-top: 15px;
  padding-bottom: 15px
}

/*--------------------------------------------Colors*/


/*--------------------------------------------hero sections */


.hero{  
  display: flex;
  /* The hero image */
  background: url(/assets/img/AdobeStock_forrest.jpeg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.hero h1{
  font-size: 4em;
}
.hero-text {
  color: #E9FF4F;
  text-align: center;
}


.hero .btn{
  display: block;
  width: 200px;
  border: 3px solid  #FDF3DD;
  border-radius: 20px;
  
  /* Padding and margins */
  padding: 1em;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  
  /* Text styles */
  color: #FDF3DD;
  text-decoration: none;
  font-size: 1.5em;
}


/* hero text class and keyframes */
.lineUp {
    animation: 2s anim-lineUp ease-out;
  }
  @keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }



/*--------------------------------------------nav bar */
  /* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.navbar{
  border-radius: 50%;
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #43542d;
}


.home,
.twitter,.google, .linkedin, .youtube{
  /* background: #3B5998; */
  background: rgba(0, 0, 0, 0.5);
  color: white;
}


/*--------------------------------------------home page */
.page-container{
  background: #FDF3DD;
  height: 100vh;
}

.page-container1{
  background: #667268;
  height: 100vh;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-cover-bg {
  margin-bottom: 20px;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  
}
.title{
  text-align: center;

}

/*--------------------------------------------footer */


.new_footer_area {
  background: #f6ffff;
}

.new_footer_area .footer_bottom {
  padding-top: 150px;
  padding-bottom: 10px;
}
/* .footer_bottom {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #7f88a6;
  padding: 27px 0px;
} */
.form-style{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.f-title{
  display: flex;
  justify-content: space-around;
}
.new_footer_top .company_widget p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #6a7695;
  margin-bottom: 20px;
}
.new_footer_top .company_widget .f_subscribe_two .btn_get {
  border-width: 1px;
  margin-top: 20px;
}
.btn_get_two:hover {
  background: transparent;
  color: #5e2ced;
}
.btn_get:hover {
  color: #fff;
  background: #6754e2;
  border-color: #6754e2;
  -webkit-box-shadow: none;
  box-shadow: none;
}
a:hover, a:focus, .btn:hover, .btn:focus, button:hover, button:focus {
  text-decoration: none;
  outline: none;
}

.btn_get_two {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #5e2ced;
  border-color: #5e2ced;
  color: #fff;
}

.btn_get_two:hover {
  background: transparent;
  color: #5e2ced;
}




/* .new_footer_top .footer_bg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 266px;
} */

.footer_bottom {
  padding-bottom:55%;
  position:absolute;
  width: 100%; 
  height: 200px;
  background: url("/assets/img/9ZTH.gif");
  background-position: center;
}
.jumping-sheep{
  width: 100%;
  height: 200px;
}

.icons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  background-position: center;
}

.footer_bottom p {
  font-size: 10px;
  font-weight: 300;
  line-height: 20px;
  color: #7f88a6;
  align-items: center;
  display: flex;
  justify-content: space-around;
}
.fa-facebook, .fa-twitter,.fa-github, .fa-instagram{
  color: #5e2ced;
}

/*--------------------------------------------rain sound section */


.rain-container{ 
  width:100%;
  height: 5px;
  padding-bottom:65%;
  position:relative;
}
/*--------------------------------------------yoga section */
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/*--------------------------------------------Related Content section */
/* .page-container2{
  margin-top: 45px;
  max-width: 1170px;
  display: flex;
  justify-content: center;
  grid-gap: 15px;
}
.inner_container{
  max-width: 302px;
  margin-inline-end: auto;
  direction: ltr;
  margin-inline-start: auto;
} */

.page-container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 30px;
  background: linear-gradient(to bottom, #ffffff 1%, #ccc3b0 97%);
  background-repeat: no-repeat;}

.text_header{
  float: left;
  width: 100%;
  margin-top: 62px;
  text-align: center;
}
.boxcontainer{
  margin-top: 45px;
  display: flex;
  max-width: 1170px;
  width: var(--chakra-sizes-full);
  flex-wrap: wrap;
  justify-content: center;
  grid-gap: 15px;
}


.innercontainer{
  max-width:302px;
  -webkit-margin-start:auto;
  margin-inline-start:auto;
  -webkit-margin-end:auto;
  margin-inline-end:auto;
  direction:ltr;
}

.css-13eeds2 {
  float:left;
  margin-left:25px;
}
.card-image { 
  display: inline-block;
}
.article-text{
  font-family: FedraSerifAStdBook;
  font-size: 16px;
  text-align: right;
  color: #676055;
  margin-right: 15px;
  text-transform: capitalize;
}


  @media screen and (min-width: 480px){
    .boxcontainer {
      grid-gap: 30px;
      }
    .innercontainer{
      max-width: 330px;
      }
  }
  @media screen and (min-width: 768px){.css-1xiu77m{max-width:330px;}}
  @media screen and (min-width: 960px){.css-1xiu77m{max-width:370px;}}
  @media screen and (min-width: 480px){.css-1xiu77m{max-width:330px;}}





@media screen and (min-width: 768px){
  .page-container{
    /* margin-left: 50px; */
    width: 100vw;
    height: 100vh;
  }
  .first-section{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }
  .h3-rain{
    display: flex;
  
  }
  
  .second-section{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }
  .third-section{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }
  .image-container {
    margin: 20px;
  }
  #circle-cover-bg {
    width: 90vw;
    height: 90vw;
    margin-bottom: 20px;
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
  }
  /*--------------------------------------------rain sound section */

  .rain-container{ 
    width:100%;
    height:0;
    padding-bottom:75%;
    position:relative;
  }
  

}