*{ 
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* background-color: #667268; */
  font-family: 'FedraSansStd-A-medium','sans-serif';
  
}

a { 
  text-decoration: none;
  color: black;
 }

.section-container{
  padding-top: 10px;
  padding-bottom: 10px;
}
.page-container{
  background: linear-gradient(to bottom, #ffffff 50%, #FDF3DD 77%);
  /* height: 100vh; */
  overflow: scroll;
}
.page-container1 {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 30px;
  background: linear-gradient(to bottom, #ffffff 50%, #667268 97%);
  background-repeat: no-repeat;
  /* padding-top: 10px; */
}
.page-container3 {
  width: 100%;
  padding-bottom: 30px;
  background: linear-gradient(to bottom, #ffffff 50%, #667268 97%);
  background-repeat: no-repeat;

}

/*--------------------------------------------Colors*/


/*--------------------------------------------hero sections */


.hero{  
  display: flex;
  /* The hero image */
  background: url("../img/AdobeStock_forrest.jpeg");
  /* background: url(/assets/img/AdobeStock_forrest.jpeg); */
  background-position: center;
  background-size: cover;
  background-position: center;
  height: 100vh;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.hero h1{
  font-size: 4em;
}
.hero-text {
  color: #87971b; 
  text-align: center; 
}


.hero .btn{
  display: block;
  width: 200px;
  border: 3px solid  #FDF3DD;
  border-radius: 20px;
  /* Padding and margins */
  margin-left: auto;
  margin-right: auto;
  /* Text styles */
  color: #FDF3DD;
  text-decoration: none;
  font-size: 1.5em;
  margin-top: 500px;
}
.btn:hover{
    background: #43542d;
}
.hover-section{
  outline: 1px solid #43542d;
  padding: 20px 20px;
  border: 5px solid transparent;
  transition: all 0.2s ease-in-out;
  display: flex;
  justify-content: center;
}

.hover-section:hover {
  opacity: 0.5;
  background:  #43542d;
  transition: .5s ease;
}


/* hero text class and keyframes */
.lineUp {
    animation: 2s anim-lineUp ease-out;
    position: relative;

  }
  @keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }



/*--------------------------------------------nav bar */
  /* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}


/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 10px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #43542d;
}


.home,
.yoga,.sound, .contactus, .morecontent{
  /* background: #3B5998; */
  background: rgba(0, 0, 0, 0.5);
  color: white;
}


/*--------------------------------------------home page */


.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-cover-bg {
  margin-bottom: 20px;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  
}

.title{
  text-align: center;

}

/*--------------------------------------------footer */

.new_footer_area {
  background: #FDF3DD;
}
.new_footer_top {
  text-align: center;
  width: 94%;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 30px;
}

.panel-container {
	background-image: linear-gradient(to bottom right, #FDF3DD,  #667268);
	border-radius: 15px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
	padding: 30px;
	margin: 15px;
  background-color: #FEF8FC;
}

.panel-container h3 {
	margin-bottom: 30px;
	letter-spacing: 0.5px;
}

.panel-container input, .panel-container button {
	border: none;
	border-radius: 3px;
	font-size: 12px;
	padding: 7px 10px;
	margin: 15px 0;
	width: 50%;
}

.panel-container button {
	background-image: linear-gradient(to bottom right, #667268 1%, #667268 10%);
	border: 1px solid rgba(255, 255, 255, 0.3);
	color: #fff;
}

.panel-container small {
	font-size: 0.75em;
	line-height: 10px;
	opacity: 0.5;
}

.panel-container small:first-of-type {
	text-transform: uppercase;
}

.footer_bottom {
  height: 200px;
  background: url(../img/9ZTH.gif);
  background-position: center;
  padding-top: 150px;
}
.jumping-sheep{
  width: 100%;
  height: 200px;
}

.icons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  background-position: center;
}

.lgsc{
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.footer_bottom p {
  font-size: 10px;
  font-weight: 300;
  line-height: 20px;
  color: #7f88a6;
  align-items: center;
  display: flex;
  justify-content: space-around;
}
.fa-facebook, .fa-twitter,.fa-github, .fa-linkedin{
  color: #5e2ced;
}

/*--------------------------------------------rain sound section */

.containervid{
  padding: 0 15px;
}

.rain-container{ 
  width:100%;
  height: 5px;
  padding-bottom:65%;
  position:relative;
  box-shadow: 0 0 65px 7px rgb(124, 124, 124, 0.75);
  display: inline-block;

}

/*--------------------------------------------yoga section */

/* Slideshow container */
.slideshow-container {
  max-width: 900px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #667268;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #1e3823;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/*--------------------------------------------Related Content section */

.text_header{
  float: left;
  width: 100%;
  text-align: center;
  padding: 2px;
}
.boxcontainer{
  display: flex;
  max-width: 1170px;
  flex-wrap: wrap;
  justify-content: center;
  grid-gap: 15px;
}

.innercontainer{
  max-width:302px;
  margin-inline-end:auto;
  direction:ltr;
}

.cardcontainer{
  min-height: 470px;
  background-color: #fff;
  height: auto;
  margin: 0 0 30px 0;
  box-shadow: 0 0 16px 0 rgb(0 0 0 / 40%);
  position: relative;
}

.cardinnerbox {
  float:left;
  margin-left:25px;
}

.article-text{
  font-family: FedraSerifAStdBook;
  font-size: 16px;
  text-align: right;
  color: #676055;
  margin-right: 15px;
  text-transform: capitalize;
}
.subtext{
  padding: 0 3vw;
  max-height: 67.5px!important;
  font-family: FedraSerifAStdBook;
  font-size: 20px;
  text-align: left;
  color: #28231e;
  margin-top: 12px;
}
.ptext{
  padding: 1vw;
  margin-bottom: 30px;
  height: 105px;
  text-overflow: ellipsis;
  line-height: 20px;
  max-height: 105px;
  font-family: FedraSansStd-book;
  font-size: 14px;
  text-align: justify;
  color: #676055;
}
.img{
  display: block;
  width: 100%;
  position: relative;
  height: 250px;
}


  

@media screen and (min-width: 480px){
  .page-container1 {
      margin-top: 0px;
  }
  .boxcontainer{
    grid-gap: 30px;
  }
  .innercontainer {
    max-width: 330px;
  }
}



@media screen and (min-width: 960px){
  .page-container1 {
    background: linear-gradient(to bottom, #ffffff 1%, #667268 97%);
    background-size: 500px,cover;
    background-position: 0 80px,center;
  }
  .slideshow-container {
    position: relative;
    margin: auto;
    overflow: hidden;
  }
  
  .containervid {
    padding: 0 15px;
  }
  .page-container {
    background: linear-gradient(to bottom, #ffffff 1%, #FDF3DD 77%);
    overflow: hidden;
  }
 
}


@media screen and (min-width: 768px){
  .page-container1{
    background-size: cover;
    background-position: center;
    margin-top: 0px;
    display: flex;
}
.page-container3 {
  background-size: cover;
  background-position: center;
  margin-top: 0px;
  }
 
  .h3-rain{
    display: flex;
  
  }
  .text_header{
    font-size: 70px;
  }

  .image-container {
    margin: 20px;
  }
 
  .circle-cover-bg {
    margin-bottom: 0px;
    border-radius: 50%;
    width: 180px;
    height: 180px;
  }
  .box1{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .box2{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .box3 {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
  /*--------------------------------------------rain sound section */

  .rain-container{ 
    width:100%;
    height:0;
    position:relative;
  }

  .icons {
    font-size: 35px;
}
  

}





